<div class="h-full Archivo">
    <ul class="flex flex-col">

      <div routerLink="/personagens" class="flex items-center gap-2 border-b py-2 hover:bg-blue-50 p-5 cursor-pointer transition-all delay-75 rounded-tr-lg">
        <span><img loading="lazy" height="30" width="30" src="assets/images/morty.png" alt="Icone Morty Face"></span>
        <li class="">
          <span>Personagens</span>
        </li>
      </div>

      <div routerLink="/epsodios" class="border-b py-2 items-center flex gap-2 hover:bg-blue-50 p-5 cursor-pointer transition-all delay-75 ">
        <span><img loading="lazy" height="30" width="30" src="assets/images/episodesIcon.png" alt="Icone Morty Face"></span>
        <li>
          <span>Epsódios</span>
        </li>
      </div>
     </ul>
</div>
